<!DOCTYPE html>
<html>
  <head>
    <title>Secretplz!</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'app_loader' %>
    <%= stylesheet_pack_tag 'app_loader' %>
  </head>

  <body class="page">
    <div id="vue-mount-point" class="page__content">
      <%= yield %>
    </div>
  </body>
</html>
