<!DOCTYPE html>
<html>
  <head>
    <title>Conclave</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'app_loader' %>
    <%= stylesheet_pack_tag 'app_loader' %>
  </head>

  <body>
    <div id="vue-mount-point">
      <%= yield %>
    </div>
  </body>
</html>
